
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 193, 193);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: rgb(23, 32, 58);
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li {
    padding: 0 20px;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.3rem;
}

ul a:hover {
    color: rgb(248, 174, 27);
    text-decoration-line: underline;
    transform: scale(1.1);
}

a h1 {
    color:rgb(248, 174, 27);
    padding: 0 25px;
}

main {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

main h1 {
    font-size: 6rem;
}

.logo a {
    text-decoration: none;
}
